<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Triple N Supermart</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<!-- HEADER -->
<div class="header">
    <div class="logo">
        <img src="/static/product_images/logoTN.jpg" height="40">
        Triple N Supermart
    </div>
    <div class="nav-links">
        <a href="#">Home</a>
        <a href="#">Product Categories</a>
        <a href="#">Locations</a>
        <a href="/customer-login">Login</a>
        <a href="/customer-signup">Sign Up</a>
    </div>
</div>

<!-- INFO BAR -->
<div class="info-bar">
    Fresh stock just arrived! Discover great discounts on fruits, electronics & more!
    <button>View All</button>
</div>

<!-- MAIN BANNERS -->
<div class="banner-row">
    <div class="banner blue" style="background-image:url('/static/banner_images/bannerblueT3.jpg')">
    </div>

    <div class="banner green" style="background-image:url('/static/banner_images/bannergreenTN.jpg')">
    </div>

    <div class="banner orange" style="background-image:url('/static/banner_images/bannerblue2TN.jpg')">
        
    </div>
</div>

<!-- CATEGORY CARDS -->
<h2 class="section-title">Product Categories</h2>
<div class="category-cards">
    <div class="cat-card">
        <img src="static/product_images/groceryTN.jpg">
        <p>Grocery</p>
    </div>
    <div class="cat-card">
        <img src="static/product_images/dairyTN.jpg">
        <p>Dairy</p>
    </div>
    <div class="cat-card">
        <img src="/static/banner_images/clothes.jpg">
        <p>Clothes</p>
    </div>
    <div class="cat-card">
        <img src="/static/product_images/meatTN.jpg">
        <p>Meat</p>
    </div>
    <div class="cat-card">
        <img src="/static/product_images/electronicsTN.jpg">
        <p>Electronics</p>
    </div>
</div>

</body>
</html>
